{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container justify-content-center">
        <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
        <div class="card" style="height: 300px; width: 100%; justify-content: center;">
            <label for="inputEmail" class="mx-auto">Adresse e-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mx-auto" autocomplete="email" required autofocus style="width: 60%">
            <label for="inputPassword" class="mx-auto">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mx-auto" autocomplete="current-password" required style="width: 60%">

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >
        </div>
    </div>

    <div class="mt-5 text-center">
      <button type="submit" class="btn btn-primary">Se Connecter</button>
      <button class="btn btn-primary" href="{{ path('Accueil')}}">Annuler</button>
    </div>
</form>
{% endblock %}
