<form method="post" action="{{ path('categories_delete', {'id': category.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ category.id) }}">
    <button class="btn">Supprimer</button>
</form>
