<form method="post" action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ utilisateur.id) }}">
    <button class="btn">Supprimer</button>
</form>
