<form method="post" action="{{ path('commentaire_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ commentaire.id) }}">
    <button class="btn">Supprimer</button>
</form>
