{% extends 'base.html.twig'%}

{% block title %}Mon Blog{% endblock %}

{% block body %}


    {#- container -#}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3 text-center">Bienvenue sur Mon Blog</h1>
            <p class="lead">Blog High-Tech, découvrez notre sélections !</p>
            <hr class="my-4">
            <p>Vous êtes un développeur, Passionné par le monde de l'informatique ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/article" role="button">Voir nos articles</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos articles stars</h2>


            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">

                        <img src="http://placehold.it/1000x400" alt="Image article 1" 
                        style="height: 200px; width: 100%; display: block">

                        <div class="card-body">
                            <h4 class="card-title">
                                Article de ouf !
                            </h4>
                            <p class="card-text">
                                Lorem ipsum, ..............
                            </p>
                            <a href="#" class="btn btn-info">En savoir plus !</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <img src="http://placehold.it/1000x400" alt="Image article 1" 
                        style="height: 200px; width: 100%; display: block">

                        <div class="card-body">
                            <h4 class="card-title">
                                Article de ouf !
                            </h4>
                            <p class="card-text">
                                Lorem ipsum, ..............
                            </p>
                            <a href="#" class="btn btn-info">En savoir plus !</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <img src="http://placehold.it/1000x400" alt="Image article 1" 
                        style="height: 200px; width: 100%; display: block">

                        <div class="card-body">
                            <h4 class="card-title">
                                Article de ouf !
                            </h4>
                            <p class="card-text">
                                Lorem ipsum, ..............
                            </p>
                            <a href="#" class="btn btn-info">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}