<form method="post" action="{{ path('mot_cle_delete', {'id': mot_cle.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ mot_cle.id) }}">
    <button class="btn">Supprimer</button>
</form>
