{% extends 'base.html.twig' %}

{% block title %}Nouveau MotCle{% endblock %}

{% block body %}
    <h1>Créer un nouveau MotCle</h1>

    {{ include('mot_cle/_form.html.twig') }}

    <a href="{{ path('mot_cle_index') }}">Retour</a>
{% endblock %}
